@import '../abstract/_variaveis'
.ancora
    grid-column: 1/3
    display: flex
    justify-content: center
    gap: .2em
    width: 100%
    margin-top: .5em
    font-family: $fontePrimaria
    a
        display: flex
        background-color: $azul
        white-space: nowrap
        font-size: .9em
        text-decoration: none
        color: $branco
        display: flex
        padding: .4em .4em
        gap: .4em
        border-radius: 6px
        letter-spacing: 2px
        &:hover
            background-color: $vermelho
            transition: .6s ease