@import '../abstract/_variaveis'
.ancora
    width: 100%
    display: grid
    grid-template-columns: repeat(2, 50%)
    font-family: $fonteSecundaria
    a
        font-size: 1em
        text-align: center
        text-decoration: none
        color: $branco
        font-weight: bold
        width: fit-content
        align-self: center
        justify-self: center
        &:hover
            color: $amarelo
            transition: .4s ease
            border-bottom: solid 1px $amarelo
@media screen and ( min-width: 768px )
    .ancora
        display: flex
        a
            &:nth-child(1)
                margin-left: auto
                margin-right: 1.5em
            &:nth-child(2)
                margin-right: 2.5em
@media screen and ( min-width: 1200px )
    .ancora
        display: flex
        a
            &:nth-child(1)
                margin-left: auto
                margin-right: 1.5em
            &:nth-child(2)
                margin-right: 4em
@media screen and ( min-width: 1400px )
    .ancora
        display: flex
        a
            &:nth-child(1)
                margin-left: auto
                margin-right: 1.5em
            &:nth-child(2)
                margin-right: 5em

