@import '../abstract/_variaveis'
header
    display: grid
    grid-template-columns: 1fr 60px
    padding: .5em .5em
    a
        text-decoration: none
        color: $preto
        display: flex
        align-items: center
        column-gap: .7em
        img
            width: 4em
        h1
            font-size: 1.8em
            font-family: $fonteTerciaria
            color: $branco
            text-shadow: 0 0 2px black
            line-height: 1
    button
        font-size: 2em
        background: transparent
        border: none
        color: $branco
        cursor: pointer
        &:active
            background-color: orange /* alterar depois */
@media screen and ( min-width: 425px )
    header
        padding: 1em
        a
            img
                width: 2.8em
            h1
                font-size: 2.2em
