@import '../abstract/_variaveis'
footer 
    background-color: red
    padding: .5em
    font-size: .8em
    font-family: $fonteSecundaria   
    background-color: #DC6B19
    color: $branco
    margin-top: 1em