@import '../abstract/_variaveis'
.cabecalho
    display: grid
    grid-template-columns: 1fr 40px
    padding: .5em .2em
    overflow: hidden
    a
        display: flex
        width: 100%
        height: 100%
        text-decoration: none
        color: white
        column-gap: .5em
        align-items: center
        img
            width: 40px
        h1
            font-family: $fonteSecundaria
            font-size: 1.75em
    button
        background-color: transparent
        border: none
        font-size: 1.7em
        color: white
    ul
        display: none
@media screen and ( min-width: 425px )
    .cabecalho
        grid-template-columns: 1fr 50px
        padding: .7em .5em
        a
            img
                width: 50px
            h1
                font-size: 2.3em

@media screen and ( min-width: 768px )
    .cabecalho
        grid-template-columns: auto 1fr
        a
            img
                width: 30px
            h1
                white-space: nowrap
                font-size: 1.5em
        ul
            list-style: none
            display: flex
            grid-column: 2/3
            column-gap: .5em
            width: 100%
            li
                font-size: .8em
                font-weight: bold
                font-family: $fonteSecundaria
                white-space: nowrap
                display: flex
                align-items: center
                justify-content: center
                a
                    display: grid
                    grid-template-columns: 20px 1fr
                    column-gap: 2px
                    img
                        width: 20px
                &:first-child
                    margin-left: auto
                &:last-child
                    margin-right: 1em
            #alterarModo
                width: 30px
                height: 15px
                appearance: none
                border-radius: 100px
                box-shadow: 0 0 2px 2px $preto
                display: flex
                transition: .6s ease
                position: relative
                background-color: $branco
                cursor: pointer
                &:checked
                    background-color: $amarelo
                    transition: .6s ease
                &::before
                    content: ''
                    width: 15px
                    height: 15px
                    border-radius: 100%
                    background-color: $amarelo
                    box-shadow: 0 0 2px 1px black
                    position: absolute
                    top: 0
                    left: 0
                    transition: .6s ease
                    background-image: url('../imgs/sol.png')
                    background-size: 10px
                    background-repeat: no-repeat
                    background-position: center
                    z-index: 2
                &:checked
                    &::before
                        transform: translate(100%)
                        transition: .6s ease
                        background-color: $branco
        button
            display: none
@media screen and ( min-width: 1024px )
    .cabecalho
        a
            img
                width: 40px
            h1
                font-size: 2em
        ul
            li
                font-size: 1.2em
                img
                    width: 25px
            #alterarModo
                width: 40px
                height: 20px
                &::before
                    width: 20px
                    height: 20px
@media screen and ( min-width: 1440px )
    .cabecalho
        padding: .7em .5em
        a
            column-gap: 1em
            img
                width: 60px
            h1
                font-size: 3em
        ul
            margin: 0
            margin-left: auto
            margin-right: 2em
            column-gap: 2em
            li
                font-size: 1.2em
                a
                    column-gap: .8em
                    img
                        width: 30px
