@import '../abstract/_variaveis'
.historia
    font-family: $fonteLato
    color: $branco
    .historia-titulo
        text-align: center
        font-size: 1.4em
        font-weight: 700
        margin-bottom: .7em
    .historia-paragrafo
        text-indent: 3ch
        max-width: 95%
        margin: 1em auto
        font-size: 1em
    .historia-container-card, .card-secundario
        box-sizing: border-box
        width: 95%
        margin: 0 auto
        display: grid
        grid-template-columns: repeat(2, 1fr)
        column-gap: .5em
        overflow: hidden
        .card
            width: 100%
            height: 95%
            overflow: hidden
            display: flex
            border-radius: 5px
            position: relative
            justify-self: center
            max-width: 210px
            &:hover
                .card-texto
                    top: 0
                    .card-texto-paragrafo
                        display: block
                        font-size: .52em
                        text-indent: 0
                        margin: 0
                        padding: 0 .5em
            .card-image
                width: 100%
                img
                    width: 100%
            .card-texto
                position: absolute
                top: 85%
                transition: .6s ease
                background-color: #333030
                height: 100%
                width: 100%
                .card-texto-titulo
                    text-align: center
                    font-size: .9em
                    padding: .2em 0
                .card-texto-paragrafo
                    display: none
    .historia-descobertas-container
        display: flex
        flex-direction: column
        row-gap: 1em
        .descobertas-quimica-item
            width: 95%
            display: grid
            grid-template-columns: 40% 1fr
            margin: 0 auto
            height: 100px
            overflow: hidden
            box-shadow: 0 0 4px 2px black
            border-radius: 8px
            padding: .2em
            background-color: #333030
            .descobertas-quimica-item-image
                grid-column: 1/2
                img
                    width: 100%
            .descobertas-quimica-item-texto
                grid-column: 2/3
                padding: 0 .5em
                overflow-y: scroll
                .descobertas-quimica-item-texto-titulo
                    font-size: .8em
                    line-height: 1
                    font-weight: 800
                    margin-bottom: .5em
                .descobertas-quimica-item-texto-descricao
                    display: flex
                    font-size: .6em
    .estrutura-atomica
        display: flex
        flex-direction: column
        .estrutura-atomica-item
            display: grid
            grid-template-columns: 40% 1fr
            grid-template-rows: auto 1fr
            .estrutura-atomica-item-titulo
                grid-row: 1/2
                grid-column: 1/3
            .estrutura-atomica-item-img
                grid-row: 2/3
                grid-column: 1/2
                img
                    width: 100%
            .estrutura-atomica-item-descricao
                grid-row: 2/3
                grid-column: 2/3
@media screen and ( min-width: 375px )
    .historia
        .historia-container-card
            .card
                .card-texto
                    .card-texto-titulo
                        font-size: 1.1em
            .card
                &:hover
                    .card-texto
                        .card-texto-paragrafo
                            font-size: .65em
@media screen and ( min-width: 425px )
    .historia
        .historia-container-card
            .card
                .card-texto
                    .card-texto-titulo
                        font-size: 1.2em
            .card
                &:hover
                    .card-texto
                        .card-texto-paragrafo
                            font-size: .73em

@media screen and ( min-width: 768px )
    .historia
        .historia-paragrafo
            font-size: 1.1em
        .card-secundario
            display: grid
            grid-template-columns: repeat(4, 1fr)
            .card
                .card-image
                    img
                        height: 100%
        .historia-container-card
            .card
                display: grid
                grid-template-columns: 40% 1fr
                max-width: 400px
                max-height: 150px
                .card-image
                    grid-column: 1/2
                    height: 100%
                .card-texto
                    grid-column: 2/3
                    top: 0
                    .card-texto-paragrafo
                        display: block
                        padding: .5em
                        font-size: .56em
            .card
                &:hover
                    .card-texto
                        .card-texto-paragrafo
                            font-size: .56em
                            padding: .5em
@media screen and ( min-width: 1024px )
    .historia
        display: grid
        grid-template-columns: 60% 1fr
        .historia-titulo
            grid-column: 1/3
            font-size: 2em
        .historia-paragrafo
            font-size: 1.2em
            grid-column: 1/2
            height: fit-content
            margin: 0 1em
        .card-secundario
            grid-column: 1/3
            grid-row: 5/6
            display: grid
            grid-template-columns: repeat(4, 1fr)
            margin-top: 1.5em
        .historia-container-card
            grid-column: 2/3
            grid-row: 2/5
            display: flex
            flex-direction: column
            row-gap: 1em
            .card
                display: grid
                grid-template-columns: 40% 1fr
                max-width: 600px
                max-height: 160px
                .card-image
                    grid-column: 1/2
                    width: 100%
                    img
                        width: 100%
                .card-texto
                    grid-column: 2/3
                    top: 0
                    .card-texto-paragrafo
                        display: block
                        padding: .5em
                        font-size: .65em
            .card
                &:hover
                    .card-texto
                        .card-texto-paragrafo
                            font-size: .65em
@media screen and ( min-width: 1200px )
    .historia
        display: grid
        grid-template-columns: 60% 1fr
        .historia-paragrafo
            font-size: 1.3em
            grid-column: 1/2
            height: fit-content
            margin: 0 1em
        .historia-container-card
            grid-column: 2/3
            grid-row: 2/4
            display: flex
            flex-direction: column
            row-gap: 1em
            .card
                display: grid
                grid-template-columns: 40% 1fr
                max-width: 600px
                max-height: 180px
                .card-image
                    grid-column: 1/2
                .card-texto
                    grid-column: 2/3
                    top: 0
                    .card-texto-paragrafo
                        display: block
                        padding: .5em
                        font-size: .725em
            .card
                &:hover
                    .card-texto
                        .card-texto-paragrafo
                            font-size: .725em
@media screen and ( min-width: 1440px )
    .historia
        display: grid
        grid-template-columns: 60% 1fr
        .historia-paragrafo
            font-size: 1.5em
            grid-column: 1/2
            height: fit-content
            margin: 0 1em
        .card-secundario
            .card
                display: grid
                grid-template-columns: repeat(2, 1fr)
                max-width: 340px
                .card-image
                    grid-column: 1/2
                .card-texto
                    grid-column: 2/3
                    top: 0
                    .card-texto-titulo
                        font-size: 1.1em
                    .card-texto-paragrafo
                        display: block
                        padding: .5em
                        font-size: .73em
            .card
                &:hover
                    .card-texto
                        .card-texto-paragrafo
                            padding: .5em
                            font-size: .73em
        .historia-container-card
            grid-column: 2/3
            grid-row: 2/4
            display: flex
            flex-direction: column
            row-gap: 1em
            .card
                display: grid
                grid-template-columns: 40% 1fr
                max-width: 600px
                max-height: 180px
                .card-image
                    grid-column: 1/2
                .card-texto
                    grid-column: 2/3
                    top: 0
                    .card-texto-paragrafo
                        display: block
                        padding: .5em
                        font-size: .79em
            .card
                &:hover
                    .card-texto
                        .card-texto-paragrafo
                            font-size: .79em
