@import '../abstract/_variaveis'
.conteudo
    width: 100%
    white-space: nowrap
    overflow-y: hidden
    .elementos
        width: 90%
        display: grid
        max-width: 1140px
        grid-template-columns: repeat(18, 50px)
        grid-template-rows: repeat(7, 50px) 40px repeat(2, 50px)
        gap: .2em
        overflow-x: scroll
        margin: 1.5em auto
        padding-bottom: .8em
        @media screen and ( min-width: 876px)
            overflow: hidden
        .quebra
            grid-column: 1/19
            grid-row: 8/9
            width: 100%
            height: 100%
        button
            position: relative
            font-weight: bold
            font-size: 1em
            color: white
            text-shadow: 1px 1px 3px black
            width: 100%
            height: 100%
            cursor: pointer
            box-shadow: 0 0 2px .5px black
            border: solid 1px black
            outline: none
            .numero-atomico-elemento
                font-size: .65em
                position: absolute
                top: 0%
                left: 5%
            .nome-elemento
                position: absolute
                bottom: 10%
                left: 50%
                transform: translate(-50%)
                font-size: .45em
                background: transparent!important
            .radioativo
                width: 10px
                height: 10px
                background-image: url('../../assets/imgs/radioativo.png')
                background-size: 100%
                background-repeat: no-repeat
                z-index: 2
                position: absolute
                top: 3px
                right: 3px
        .btn-selecionado
            border: solid 3px black
        .seta1
            width: 100%
            height: 100%
            grid-row: 6/10
            grid-column: 3/4
            background-image: url('../imgs/arrow-1.svg')
            background-size: 36px
            background-position: 2.7em .4em
            background-repeat: no-repeat
            overflow-y: visible
            font-size: .7em
            color: white
            font-weight: bold
            font-family: $fonteSecundaria
        .seta2
            width: 100%
            height: 100%
            background: transparent
            grid-row: 7/11
            grid-column: 3/4
            background-image: url('../imgs/arrow-2.svg')
            background-size: 40px
            background-position: 1.1em 1.1em
            font-weight: bold
            background-repeat: no-repeat
            overflow-y: visible
            font-size: .7em
            color: white
            font-family: $fonteSecundaria
        .elemento-checado
            opacity: 1!important
        .container-historia
            font-family: $fonteTerciaria
            grid-column: 3/13
            grid-row: 1/4
            background-color: #EBEBEB
            padding: .7em
            width: 95%
            height: 95%
            margin: 0 auto
            display: grid
            grid-template-columns: 110px 1fr 100px
            grid-template-rows: auto 1fr
            row-gap: .5em
            box-shadow: 2px 2px 4px 2px black
            .container-historia-titulo
                background-color: #0C7ED9
                padding: .2em 1em .2em .5em
                border-radius: 0 10px 10px 0
                color: $branco
            .container-historia-texto
                grid-row: 2/3
                grid-column: 1/3
                word-break: normal
                white-space: wrap
                display: flex
                font-size: .8em
                font-family: $fonteLato
                height: 100%
                width: 100%
                overflow-y: scroll
                overflow-x: hidden
                padding-right: .4em
                &::-webkit-scrollbar
                    width: 3px
                &::-webkit-scrollbar-track
                    background: $amarelo
                &::-webkit-scrollbar-thumb
                    background-color: #0C7ED9
            .container-historia-img
                grid-row: 2/3
                grid-column: 3/4
                height: 100%
                width: 100%
                overflow: hidden

@media screen and ( min-width: 1024px )
    .conteudo
        .elementos
            grid-template-columns: repeat(18, 60px)
            grid-template-rows: repeat(7, 60px) 40px repeat(2, 60px)
            overflow-x: scroll
            button
                width: 100%
                height: 100%
                .radioativo
                    width: 14px
                    height: 14px
            .seta1
                background-size: 41.5px
                background-position: 3em .4em
            .seta2
                background-size: 45px
            .container-historia
                grid-template-columns: 110px 1fr 135px
                .container-historia-texto
                    font-size: 1em

@media screen and ( min-width: 1270px )
    .conteudo
        .elementos
            overflow-x: hidden
            button
                .nome-elemento
                    font-size: .55em
