@import '../abstract/_variaveis'
.visor
    width: 90%
    max-width: 1130px
    margin: .5em auto 2em auto
    display: grid
    grid-template-columns: 8rem 1fr
    grid-template-rows: 1fr 8rem 1fr
    overflow: hidden
    column-gap: .2em
    row-gap: .5em
    padding: .4em .6em
    font-family: $fonteSecundaria
    background-color: #0a3e81
    color: $branco
    box-shadow: 0 0 5px 2px #111
    h2
        grid-column: 1/3
        font-size: 1.6em
    .visor-simbolo-elemento
        position: relative
        width: 8em
        height: 8em
        text-shadow: 1px 1px 3px black
        border: solid 1px black
        h3
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            font-size: 3em
        p
            position: absolute
            left: 50%
            top: 80%
            font-size: 1em
    .visor-informacoes-elemento
        display: grid
        grid-template-rows: repeat(4, 1fr)
        row-gap: .2em
        text-shadow: 0 0 2px black
        .visor-informacoes-elemento-item
            display: grid
            grid-template-columns: 65% 2px 1fr
            white-space: wrap
            font-size: .68em
            border: solid 1px black
            width: 100%
            position: relative
            span
                width: 2px
                height: 100%
                background-color: black
                grid-template-columns: 2/3
            p
                align-self: center
                justify-self: center
                font-size: 1em
                font-weight: bold
                text-align: center
            h4
                height: 100%
                width: 100%
                display: flex
                align-items: center
                margin-left: .2em
                max-width: 95%
            &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12)
                display: none

    button
        grid-column: 1/3
        font-weight: bold
        font-size: 1em
        text-transform: uppercase
        position: relative
        color: $branco
        cursor: pointer
        text-shadow: 0 0 2px black
        i
            font-size: .6em
    .visor-mais-informacoes
        grid-column: 1/3
        overflow: hidden
        display: flex
        flex-direction: column
        display: none
        .visor-mais-informacoes-item
            display: grid
            grid-template-columns: repeat(2, 50%)
            font-size: .8em
            white-space: pre-wrap
            border: solid 1px black
            text-shadow: 0 0 2px black
            h4
                align-self: center
                border-right: solid 1px black
                height: 100%
                padding: .3em
            p
                align-self: center
                padding: .3em
                display: block
                word-break: break-word

@media screen and ( min-width: 425px )
    .visor
        .visor-informacoes-elemento
            .visor-informacoes-elemento-item
                font-size: .8em

@media screen and ( min-width: 600px )
    .visor
        .visor-informacoes-elemento
            .visor-informacoes-elemento-item
                font-size: 1em

@media screen and ( min-width: 768px )
    .visor
        .visor-informacoes-elemento
            display: grid
            grid-template-columns: repeat(2, 50%)
            .visor-informacoes-elemento-item
                &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8)
                    display: grid
        .visor-mais-informacoes
            display: none
            grid-template-columns: repeat(2, 50%)
            li
                display: grid
                grid-template-columns: repeat(2, 50%)
                width: 100%
                &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5)
                    display: none
                &:last-child
                    grid-column: 1/3

@media screen and ( min-width: 1024px )
    .visor
        grid-template-rows: 1fr 9rem 1fr
        grid-template-columns: 9rem 1fr
        .visor-simbolo-elemento
            width: 9rem
            height: 9rem
        .visor-informacoes-elemento
            display: grid
            grid-template-columns: repeat(3, 1fr)
            .visor-informacoes-elemento-item
                &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12)
                    display: grid
        .visor-mais-informacoes
            li
                display: grid
                grid-template-columns: repeat(2, 50%)
                width: 100%
                &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9)
                    display: none
                &:last-child
                    grid-column: 1/3
                    display: grid
                    grid-template-columns: 25% 1fr
