@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')
// colors
$preto: #000
$branco: #fff
$bege: #F8F6E3
$amarelo: #FFC600
$azul: #070841
$azul-claro: #4CB9E7
$vermelho: #C40C0C
$cinza-1: #C2C2C2
$cinza-2: #A9AAAE
$cinza-3: #46474b

// cores elemento
$nao-metal: #90D26D
$semimetal: #2C7865
$metal-alcalino: #E8751A
$outros-metais: #496989
$lantanideos: #97E7E1
$gas-nobre: #008DDA
$metais-alcalinos-terrosos: #FCDC2A
$halogenios: #59D5E0
$metais-de-transicao: #FF8E8F
$actinideos: #D875C7

// fontes
$fontePrimaria: "Anton", sans-serif
$fonteSecundaria: "Ubuntu", sans-serif
$fonteTerciaria: "Raleway", sans-serif
$fonteLato: "Lato", sans-serif

// animações
$flutuarAncora: flutuar 1.2s ease infinite
$animarBorda: animarBorda .6s ease
$animarBordaTitulo: animarBordaTitulo 3s ease infinite
$animarCardHistoria: animarCardHistoria .6s ease
$animarOffcanvas: animarOffcanvas .6s ease


@keyframes animarBorda
    0%
        width: 0
    100%
        width: 90%
@keyframes animarBordaTitulo
    0%
        width: 0
    50%
        width: 65%
    100%
        width: 0
@keyframes flutuar
    0%
        top: 0
    50%
        top: 20px
    100%
        top: 0
@keyframes animarCardHistoria
    0%
        top: 100%
    100%
        top: 0%
        
@keyframes animarOffcanvas
    0%
        right: 100%   
    100%
        right: 0%
        