@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@keyframes animarBorda {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes animarCardHistoria {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarOffcanvas {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #EBEBEB;
  background-size: 500% 500%;
  transition: 0.6s;
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background: #060c35;
}
body::-webkit-scrollbar-thumb {
  background-color: #FFC600;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animarBorda {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes animarCardHistoria {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarOffcanvas {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
.cabecalho {
  display: grid;
  grid-template-columns: 1fr 40px;
  padding: 0.5em 0.2em;
  overflow: hidden;
  background-color: #070841;
  box-shadow: 2px 2px 4px 2px #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.cabecalho a {
  display: flex;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
  align-items: center;
  position: relative;
}
.cabecalho a img {
  width: 40px;
  padding: 0.25em;
}
.cabecalho a h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.75em;
}
.cabecalho button {
  background-color: transparent;
  border: none;
  font-size: 1.7em;
  color: white;
}
.cabecalho ul {
  display: none;
}
.cabecalho ul li a {
  position: relative;
  border-radius: 6px;
  padding: 0.5em;
  font-size: 0.9em;
}
.cabecalho ul li a::before {
  content: "";
  width: 90%;
  height: 3px;
  position: absolute;
  bottom: 2px;
  background-color: #070841;
  left: 5px;
  display: none;
}
.cabecalho ul li a:hover {
  background-color: #C40C0C;
}
.cabecalho ul li a:hover::before {
  display: block;
  animation: animarBorda 0.6s ease;
}

@media screen and (min-width: 425px) {
  .cabecalho {
    grid-template-columns: 1fr 50px;
    padding: 0.7em 0.5em;
  }
  .cabecalho a img {
    width: 50px;
  }
  .cabecalho a h1 {
    font-size: 2.3em;
  }
}
@media screen and (min-width: 768px) {
  .cabecalho {
    grid-template-columns: auto 1fr;
  }
  .cabecalho a img {
    width: 30px;
  }
  .cabecalho a h1 {
    white-space: nowrap;
    font-size: 1.5em;
  }
  .cabecalho ul {
    list-style: none;
    display: flex;
    grid-column: 2/3;
    -moz-column-gap: 0.5em;
         column-gap: 0.5em;
    width: 100%;
  }
  .cabecalho ul li {
    font-size: 0.8em;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cabecalho ul li a {
    display: grid;
    grid-template-columns: 20px 1fr;
    -moz-column-gap: 2px;
         column-gap: 2px;
  }
  .cabecalho ul li a img {
    width: 20px;
  }
  .cabecalho ul li:first-child {
    margin-left: auto;
  }
  .cabecalho ul li:last-child {
    margin-right: 1em;
  }
  .cabecalho ul #alterarModo {
    width: 30px;
    height: 15px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 100px;
    box-shadow: 0 0 2px 2px #000;
    display: flex;
    transition: 0.6s ease;
    position: relative;
    background-color: #fff;
    cursor: pointer;
  }
  .cabecalho ul #alterarModo:checked {
    background-color: #FFC600;
    transition: 0.6s ease;
  }
  .cabecalho ul #alterarModo::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #FFC600;
    box-shadow: 0 0 2px 1px black;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.6s ease;
    background-image: url("../imgs/sol.png");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
  }
  .cabecalho ul #alterarModo:checked::before {
    transform: translate(100%);
    transition: 0.6s ease;
    background-color: #fff;
  }
  .cabecalho button {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .cabecalho a img {
    width: 40px;
  }
  .cabecalho a h1 {
    font-size: 2em;
  }
  .cabecalho ul li {
    font-size: 1.2em;
  }
  .cabecalho ul li img {
    width: 25px;
  }
  .cabecalho ul #alterarModo {
    width: 40px;
    height: 20px;
  }
  .cabecalho ul #alterarModo::before {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .cabecalho {
    padding: 0.7em 0.5em;
  }
  .cabecalho a {
    -moz-column-gap: 1em;
         column-gap: 1em;
  }
  .cabecalho a img {
    width: 60px;
  }
  .cabecalho a h1 {
    font-size: 3em;
  }
  .cabecalho ul {
    margin: 0;
    -moz-column-gap: 0.5em;
         column-gap: 0.5em;
  }
  .cabecalho ul li {
    font-size: 1.4em;
  }
  .cabecalho ul li a {
    -moz-column-gap: 0.8em;
         column-gap: 0.8em;
    font-size: 1em;
  }
  .cabecalho ul li a::before {
    bottom: 10px;
  }
  .cabecalho ul li a img {
    width: 30px;
  }
}
@keyframes animarBorda {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes animarCardHistoria {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarOffcanvas {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
.offcanvas {
  display: grid;
  grid-template-rows: 45px auto 1fr 80px;
  grid-template-columns: 1fr 40px;
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 3;
  background-color: #070841;
  font-family: "Lato", sans-serif;
  box-shadow: 0 0 3px 1px #000;
  padding: 0.8em 0.5em;
}
.offcanvas .offcanvas-titulo {
  font-size: 1.2em;
  grid-column: 1/2;
  text-align: center;
  color: #fff;
}
.offcanvas .offcanvas-titulo h2 {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}
.offcanvas .offcanvas-titulo h2 i {
  margin-top: 0.1em;
}
.offcanvas .offcanvas-lista-link {
  display: grid;
  grid-template-rows: repeat(4, 40px);
  row-gap: 0.5em;
  grid-column: 1/3;
  list-style: none;
}
.offcanvas .offcanvas-lista-link .offcanvas-lista-link-item {
  width: 100%;
  height: 100%;
}
.offcanvas .offcanvas-lista-link .offcanvas-lista-link-item a {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  text-decoration: none;
  color: #fff;
  overflow: hidden;
}
.offcanvas .offcanvas-lista-link .offcanvas-lista-link-item a img {
  width: 100%;
  max-width: 40px;
}
.offcanvas .offcanvas-lista-link .offcanvas-lista-link-item a p {
  font-size: 1.3em;
  align-self: center;
}
.offcanvas .offcanvas-botao-fechar {
  position: absolute;
  top: 2%;
  right: 5%;
  grid-column: 2/3;
}
.offcanvas .offcanvas-botao-fechar button {
  color: #fff;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  font-size: 2em;
}
.offcanvas .offcanvas-relatar-erro {
  grid-row: 4/5;
  grid-column: 1/3;
  color: #fff;
  background-color: #C40C0C;
  padding: 0.5em;
  margin-bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offcanvas .offcanvas-relatar-erro a {
  color: #fff;
}
.offcanvas .offcanvas-modo {
  margin-top: 2em;
}
.offcanvas .offcanvas-modo input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 60px;
  height: 30px;
  border: solid 1px #000;
  box-shadow: 0 0 3px 1px #000;
  border-radius: 6px;
  background-color: #C2C2C2;
  position: relative;
}
.offcanvas .offcanvas-modo input::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 30px;
  height: 28px;
  border-radius: 4px;
  background-color: #4CB9E7;
  border: solid 1px #000;
  box-shadow: 0px 0px 2px 1px #000;
  transition: 0.6s ease;
}
.offcanvas .offcanvas-modo input:checked {
  background-color: #46474b;
  transition: 0.6s ease;
}
.offcanvas .offcanvas-modo input:checked::before {
  transform: translate(100%);
  transition: 0.6s ease;
}

@keyframes animarBorda {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes animarCardHistoria {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarOffcanvas {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
@keyframes animarBorda {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes animarCardHistoria {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarOffcanvas {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
.conteudo-banner {
  font-family: "Lato", sans-serif;
  line-height: 1.1;
  color: #000;
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(4, auto);
  align-items: center;
  justify-content: center;
  margin-top: 4.5em;
}
.conteudo-banner h2 {
  text-align: center;
  font-size: 1.8em;
}
.conteudo-banner h2 strong {
  color: #FFC600;
  text-shadow: 1px 1px 2px #000;
}
.conteudo-banner p {
  font-size: 1.3em;
  line-height: 1.15;
  text-align: center;
  color: #000;
  font-weight: bold;
  margin: 0.7em 0;
}
.conteudo-banner a {
  text-decoration: none;
  color: #000;
  font-size: 3em;
  position: relative;
  height: 80px;
  display: flex;
  justify-content: center;
}
.conteudo-banner a i {
  position: absolute;
  animation: flutuar 1.2s ease infinite;
}

@keyframes animarBorda {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes animarCardHistoria {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarOffcanvas {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
.conteudo-tabela-elemento {
  background-color: #A9AAAE;
  border-radius: 6px;
  width: 95%;
  margin: 0 auto 2em auto;
  padding: 0.5em;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: repeat(19, 50px);
  grid-template-rows: 50px repeat(7, 50px) 20px repeat(2, 50px);
  font-family: "Lato", sans-serif;
  gap: 0.1em;
  max-width: 1015px;
}
.conteudo-tabela-elemento button {
  border-radius: 4px;
  position: relative;
}
.conteudo-tabela-elemento button .numero-atomico-elemento {
  position: absolute;
  top: 5%;
  left: 5%;
}
.conteudo-tabela-elemento button .nome-elemento {
  font-size: 0.55em;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
}
.conteudo-tabela-elemento .conteudo-tabela-elemento-historia {
  background-color: #C2C2C2;
  border-radius: 6px;
  width: 96%;
  height: 96%;
  margin: 0 auto;
}
.conteudo-tabela-elemento .conteudo-tabela-elemento-historia .container-historia-titulo {
  font-size: 1.4em;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #070841;
  color: #fff;
  padding: 0.2em 1.2em 0.2em 0.4em;
  border-radius: 0 6px 6px 0;
  margin: 0.2em 0.4em;
}
.conteudo-tabela-elemento .grupo, .conteudo-tabela-elemento .periodo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
}
.conteudo-tabela-elemento .grupo-periodo {
  font-size: 0.7em;
  padding: 0.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conteudo-tabela-elemento .lantanoides, .conteudo-tabela-elemento .actinoides {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.2em;
  margin-left: 1em;
  font-weight: bold;
  text-transform: uppercase;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
}

@keyframes animarBorda {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes animarCardHistoria {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarOffcanvas {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
.historia {
  margin-top: 4.5em;
  font-family: "Ubuntu", sans-serif;
  padding: 0 1em;
}
.historia .historia-titulo {
  text-align: center;
  margin: 1em 0 0.7em 0;
}
.historia .historia-paragrafo {
  text-indent: 2em;
}
.historia .historia-imagem {
  width: 95%;
  margin: 1em auto;
}
.historia .historia-imagem img {
  width: 100%;
}
.historia .historia-card {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5em 0;
  gap: 0.5em;
  justify-content: space-around;
}
.historia .historia-card .card {
  background-color: #A9AAAE;
  position: relative;
  border-radius: 0.5em;
  overflow: hidden;
  max-width: 280px;
  width: 270px;
  height: 320px;
}
.historia .historia-card .card .card-image {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}
.historia .historia-card .card .card-image img {
  width: 100%;
  height: 100%;
  border-radius: 0.5em 0.5em 0 0;
}
.historia .historia-card .card .card-texto {
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
.historia .historia-card .card .card-texto .card-texto-titulo {
  text-align: center;
  font-size: 1.4em;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #A9AAAE;
  padding: 0.2em 0 0.3em 0;
  z-index: 2;
}
.historia .historia-card .card .card-texto .card-texto-paragrafo {
  position: absolute;
  top: 100%;
  padding: 0.8em;
  height: 90%;
}
.historia .historia-card .card:hover .card-texto .card-texto-paragrafo {
  top: 0;
  animation: animarCardHistoria 0.6s ease;
  background-color: #A9AAAE;
}
.historia .historia-card .fonte-menor:nth-child(1) .card-texto .card-texto-paragrafo, .historia .historia-card .fonte-menor:nth-child(3) .card-texto .card-texto-paragrafo, .historia .historia-card .fonte-menor:nth-child(4) .card-texto .card-texto-paragrafo {
  font-size: 0.9em;
}
.historia .historia-ancora {
  grid-column: 1/3;
  display: flex;
  justify-content: space-around;
  gap: 0.2em;
  width: 100%;
  margin-top: 0.5em;
}
.historia .historia-ancora a {
  display: flex;
  background-color: #070841;
  white-space: nowrap;
  font-size: 0.9em;
  text-decoration: none;
  color: #fff;
  display: flex;
  padding: 0.4em 0.4em;
  gap: 0.4em;
  border-radius: 6px;
}
.historia .historia-ancora a:hover {
  background-color: #C40C0C;
  transition: 0.6s ease;
}
.historia .historia-versoesTabela {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  row-gap: 0.7em;
}
.historia .historia-versoesTabela .historia-versoesTabela-item {
  display: flex;
  flex-direction: column;
  padding: 0.7em;
  border-radius: 6px;
  background-color: #A9AAAE;
}
.historia .historia-versoesTabela .historia-versoesTabela-item .historia-versoesTabela-item-imagem {
  width: 100%;
}
.historia .historia-versoesTabela .historia-versoesTabela-item .historia-versoesTabela-item-imagem img {
  width: 100%;
}
.historia .historia-versoesTabela .historia-versoesTabela-item .historia-versoesTabela-item-texto h3 {
  font-size: 1.1em;
  margin: 0.5em 0;
}

@keyframes animarBorda {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes animarCardHistoria {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarOffcanvas {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
.filtro {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1em;
  row-gap: 0.2em;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: #000;
  margin: 0 auto;
  width: 90%;
}
.filtro h2 {
  grid-column: 1/3;
  font-size: 1.2em;
  white-space: wrap;
  margin-bottom: 0.5em;
}
.filtro li {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 0.3em;
}
.filtro li label {
  font-size: 0.8em;
  white-space: wrap;
  line-height: 1.1;
  text-transform: uppercase;
}
.filtro li input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 15px;
  border: solid 1px black;
  cursor: pointer;
}
.filtro li input:checked {
  background-image: url("../imgs/check.png");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  z-index: 2;
}
.filtro .nao-metal input {
  background-color: #90D26D;
}
.filtro .metal-alcalino input {
  background-color: #E8751A;
}
.filtro .semimetal input {
  background-color: #2C7865;
}
.filtro .outros-metais input {
  background-color: #496989;
}
.filtro .lantanideos input {
  background-color: #97E7E1;
}
.filtro .gas-nobre input {
  background-color: #008DDA;
}
.filtro .metal-alcalino-terroso input {
  background-color: #FCDC2A;
}
.filtro .halogenios input {
  background-color: #59D5E0;
}
.filtro .metal-de-transicao input {
  background-color: #FF8E8F;
}
.filtro .actinidios input {
  background-color: #D875C7;
}
.filtro li:nth-child(even) {
  margin-left: 0.5em;
}

@media screen and (min-width: 768px) {
  .filtro {
    grid-template-columns: repeat(3, 1fr);
  }
  .filtro h2 {
    grid-column: 1/4;
    font-size: 1.5em;
  }
  .filtro li:nth-child(even) {
    margin-left: 0;
  }
}
@media screen and (min-width: 1024px) {
  .filtro h2 {
    grid-column: 1/4;
    font-size: 1.5em;
  }
  .filtro li {
    font-size: 1.4em;
    grid-template-columns: 30px 1fr;
  }
  .filtro li input {
    width: 30px;
    height: 25px;
  }
  .filtro li label {
    margin-top: 0.1em;
  }
}
@keyframes animarBorda {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes animarCardHistoria {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarOffcanvas {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
footer {
  background-color: red;
  padding: 0.5em;
  font-size: 0.8em;
  font-family: "Ubuntu", sans-serif;
  background-color: #070841;
  margin-top: 1em;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  font-size: 1em;
}
footer strong {
  color: #FFC600;
}

@media screen and (min-width: 768px) {
  footer {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1400px) {
  footer {
    font-size: 1.4em;
  }
}
@keyframes animarBorda {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes animarCardHistoria {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarOffcanvas {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
.comparar-elementos {
  width: 90%;
  margin: 6em auto 0 auto;
  font-family: "Ubuntu", sans-serif;
  display: grid;
}
.comparar-elementos li {
  background-color: #FDFDFD;
  width: 100%;
  max-height: 65px;
}
.comparar-elementos .comparar-elementos-selecionar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
}
.comparar-elementos .comparar-elementos-selecionar select {
  padding: 0.5em 0;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 600;
}
.comparar-elementos .propriedades {
  list-style-type: none;
  margin-top: 1em;
}
.comparar-elementos .propriedades .propriedades-titulo {
  background-color: #070841;
  width: 11rem;
  display: block;
  padding: 0.3em 0.4em;
  font-size: 1.4em;
  font-weight: bold;
  color: #fff;
  border-radius: 0 10px 10px 0;
  margin-bottom: 0.8em;
}
.comparar-elementos .propriedades li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 0.5em;
  border: solid 1px #000;
}
.comparar-elementos .propriedades li h3 {
  padding: 0.5em 0.2em;
  font-size: 0.9em;
  max-width: 100%;
  border-right: solid 2px #000;
}
.comparar-elementos .propriedades li span {
  font-size: 0.9em;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comparar-elementos .propriedades li span:nth-child(2) {
  border-right: solid 2px #000;
}
.comparar-elementos .propriedades-gerais {
  list-style-type: none;
  margin-top: 1em;
}
.comparar-elementos .propriedades-gerais .propriedades-titulo {
  background-color: #070841;
  width: 12rem;
  display: block;
  padding: 0.3em 0.4em;
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
  border-radius: 0 10px 10px 0;
  margin-bottom: 0.8em;
}
.comparar-elementos .propriedades-gerais li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 0.5em;
  border: solid 1px #000;
}
.comparar-elementos .propriedades-gerais li h3 {
  padding: 0.5em 0.2em;
  font-size: 0.9em;
  max-width: 100%;
  border-right: solid 2px #000;
}
.comparar-elementos .propriedades-gerais li span {
  font-size: 0.9em;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comparar-elementos .propriedades-gerais li span:nth-child(2) {
  border-right: solid 2px #000;
}
.comparar-elementos .propriedades-fisicas {
  list-style-type: none;
  margin-top: 1em;
}
.comparar-elementos .propriedades-fisicas .propriedades-titulo {
  background-color: #070841;
  width: 12rem;
  display: block;
  padding: 0.3em 0.4em;
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
  border-radius: 0 10px 10px 0;
  margin-bottom: 0.8em;
}
.comparar-elementos .propriedades-fisicas li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 0.5em;
  border: solid 1px #000;
}
.comparar-elementos .propriedades-fisicas li h3 {
  padding: 0.5em 0.2em;
  font-size: 0.9em;
  max-width: 100%;
  border-right: solid 2px #000;
}
.comparar-elementos .propriedades-fisicas li span {
  font-size: 0.9em;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comparar-elementos .propriedades-fisicas li span:nth-child(2) {
  border-right: solid 2px #000;
}
.comparar-elementos .propriedades-atomicas {
  list-style-type: none;
  margin-top: 1em;
}
.comparar-elementos .propriedades-atomicas .propriedades-titulo {
  background-color: #070841;
  width: 12rem;
  display: block;
  padding: 0.3em 0.4em;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  border-radius: 0 10px 10px 0;
  margin-bottom: 0.8em;
}
.comparar-elementos .propriedades-atomicas li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 0.5em;
  border: solid 1px #000;
  width: 100%;
}
.comparar-elementos .propriedades-atomicas li h3 {
  padding: 0.5em 0.2em;
  font-size: 0.9em;
  max-width: 100%;
  border-right: solid 2px #000;
}
.comparar-elementos .propriedades-atomicas li span {
  font-size: 0.9em;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comparar-elementos .propriedades-atomicas li span:nth-child(2) {
  border-right: solid 2px #000;
}
.comparar-elementos .propriedades-atomicas li:nth-child(4) h3 {
  font-size: 0.6em;
}
.comparar-elementos .propriedades-atomicas li:nth-child(6) h3, .comparar-elementos .propriedades-atomicas li:nth-child(7) h3 {
  font-size: 0.8em;
}

@keyframes animarBorda {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes animarCardHistoria {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarOffcanvas {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
@keyframes animarBorda {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes animarCardHistoria {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarOffcanvas {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
@media screen and (min-width: 425px) {
  .historia {
    margin-top: 6em;
  }
  .historia .historia-ancora a {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 768px) {
  .historia {
    margin-top: 5em;
  }
  .historia .historia-titulo {
    font-size: 2em;
  }
  .historia .historia-paragrafo {
    font-size: 1.3em;
  }
  .historia .historia-ancora {
    justify-content: start;
    -moz-column-gap: 1em;
         column-gap: 1em;
    margin-top: 1.5em;
  }
  .historia .historia-ancora a {
    padding: 0.5em 0.8em;
    font-size: 1.2em;
  }
  .historia .historia-ancora a:first-child {
    margin-left: auto;
  }
}
@media screen and (min-width: 1024px) {
  .historia {
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-template-rows: auto 320px 320px;
    margin-top: 5.5em;
  }
  .historia .historia-titulo {
    grid-column: 1/3;
  }
  .historia .historia-paragrafo {
    grid-column: 1/2;
    font-size: 1.6em;
  }
  .historia .primario {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0;
  }
  .historia .primario .card {
    width: 240px;
    height: 280px;
  }
  .historia .primario .card .card-texto .card-texto-paragrafo {
    font-size: 0.85em;
    grid-column: 1/3;
  }
  .historia .primario .card:nth-child(1) .card-texto .card-texto-paragrafo {
    font-size: 0.8em;
  }
  .historia .coluna-inteira {
    grid-column: 1/3;
  }
  .historia .secundario {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 1440px) {
  .historia {
    display: grid;
    grid-template-columns: 1fr 25%;
    margin-top: 7em;
    grid-template-rows: auto 300px 300px;
  }
  .historia .historia-titulo {
    grid-column: 1/3;
  }
  .historia .historia-paragrafo {
    grid-column: 1/2;
    font-size: 1.8em;
  }
  .historia .primario {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0;
  }
  .historia .primario .card {
    width: 240px;
    height: 280px;
  }
  .historia .primario .card .card-texto .card-texto-paragrafo {
    font-size: 0.85em;
    grid-column: 1/3;
  }
  .historia .primario .card:nth-child(1) .card-texto .card-texto-paragrafo {
    font-size: 0.8em;
  }
  .historia .coluna-inteira {
    grid-column: 1/3;
  }
  .historia .secundario {
    grid-column: 1/3;
  }
}
@keyframes animarBorda {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes animarCardHistoria {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarOffcanvas {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
@media screen and (min-width: 425px) {
  .conteudo .conteudo-banner {
    margin-top: 6em;
  }
  .conteudo .conteudo-banner h2 {
    font-size: 2.2em;
  }
  .conteudo .conteudo-banner img {
    max-width: 425px;
    margin: 0 auto;
  }
  .conteudo .conteudo-banner p {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 768px) {
  .conteudo .conteudo-banner {
    margin-top: 3em;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .conteudo .conteudo-banner p {
    grid-column: 1/3;
  }
  .conteudo .conteudo-banner a {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 1024px) {
  .conteudo .conteudo-banner {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 3.2em;
  }
  .conteudo .conteudo-banner h2 {
    font-size: 2.6em;
  }
  .conteudo .conteudo-banner p {
    grid-column: 1/3;
  }
  .conteudo .conteudo-banner a {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 1440px) {
  .conteudo .conteudo-banner {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 4.5em;
    height: 100vh;
    max-width: 1100px;
  }
  .conteudo .conteudo-banner h2 {
    font-size: 3.2em;
    max-width: 500px;
  }
  .conteudo .conteudo-banner p {
    grid-column: 1/3;
    max-width: 800px;
    margin: 0 auto;
  }
  .conteudo .conteudo-banner a {
    grid-column: 1/3;
  }
}/*# sourceMappingURL=style.css.map */